doctype
html
  head
    title WebService
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='css/style.css')
    style.
      ul.nav a {
      text-transform: capitalize;
      }
body
  .container.text
    hr
    ul.nav.nav-pills
        li.text1: a(href=links[0])= 'Клуб'
        li.text1: a(href=links[1])= 'Галерея'
        li.text1: a(href=links[2])= 'События'
        li.text1: a(href=links[3])= 'Меню'
        li.text1: a(href=links[4])= 'Контакты'
    hr
  .container#quick-test-fade
    each foto in arr_foto
      button(id= ''+foto.id_foto).galery_btn
        img(src= ''+foto.foto).galery_pic
script(src='js/script.js')