doctype
html
  head
    title WebService
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='css/style.css')
    style.
      ul.nav a {
      text-transform: capitalize;
      }
  body#test-fade
    p#test-fade.title_text Добро пожаловать на сайт ночного клуба
    .container.text
      hr
      ul.nav.nav-pills
          li.text1: a(href=links[0])= 'Клуб'
          li.text1: a(href=links[1])= 'Галерея'
          li.text1: a(href=links[2])= 'События'
          li.text1: a(href=links[3])= 'Меню'
          li.text1: a(href=links[4])= 'Контакты'
      hr
  .container
    div.with_border
      table(border='1' bordercolor='gray')
        tr
          td(width='30%') 
            p Сегодня для Вас выступают лучшие танцовщицы области. Ждем Вас с нетерпением!
          td(width='70%') 
            img(src='images/den-pervokursnika.jpg' id='test-fade').main_pic
    div.with_border
      table
        tr
          td(width='30%') 
            p Только на этой неделе - не прпустите концерт именитого DJ-я TIESTO
          td(width='70%') 
            img(src='images/wallpaper.jpg' id='test-fade').main_pic
    div.with_border
      table
        tr
          td(width='30%') 
            p В нашем клубе Вы сможите ощутить мощь звука вживую. Если Вам нравиться песня и Вы желаете поделиться ею с залом, не стесняйтесь, подойдите к пульту DJ-я и закажите песню. 
          td(width='70%') 
            img(src='images/u_pulta.jpg' id='test-fade').main_pic
    div.with_border
      table
        tr
          td(width='30%') 
            p Желаешь проявить себя, но не знаешь как? Попробуй спеть в нашем караоке в эту пятницу. Популярные песни и хорошее настроение - гарантированы
          td(width='70%') 
            img(src='images/jazz-mic.jpg' id='test-fade').main_pic
    div.with_border
      table(border='1' bordercolor='gray')
        tr
          td(width='30%') 
            p Только в нашем клубе. Не пропустите выставку картин Пин-ап. Увидеть вживую сможите в эту субботу. Галерею цифровых изображений Вы можете просмотреть перейдя во вкладку "События"
          td(width='70%' bordercolor=gray) 
            img(src='images/galereya-10.jpg' id='test-fade').main_vert_pic
    div.with_border
      table
        tr
          td(width='30%') 
            p В честь десятилетия клуба объявляем скидки на ассортимент нашего меню. Приходите и наслаждайтесь приятным вкусом блюд и их ценами
          td(width='70%') 
            img(src='images/menu.jpg' id='test-fade').main_pic
    div.with_border
      table
        tr
          td(width='30%') 
            p В нашем клубе ты всегда можешь познакомиться с интересными людьми, а может и повстречать свою половинку. Не упусти свой шанс!
          td(width='70%' bordercolor=gray) 
            img(src='images/devushki-na-diskoteke.jpg' id='test-fade').main_pic
    
    
      footer
        Разработано в 2015 году. ТГАТУ. Г. Мелитополь
script(src='http://code.jquery.com/jquery-2.1.1.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')