doctype
html
  head
    title WebService
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='css/style.css')
    style.
      ul.nav a {
      text-transform: capitalize;
      }
body
    .container.text
      hr
      ul.nav.nav-pills
          li.text1: a(href=links[0])= 'Клуб'
          li.text1: a(href=links[1])= 'Галерея'
          li.text1: a(href=links[2])= 'События'
          li.text1: a(href=links[3])= 'Меню'
          li.text1: a(href=links[4])= 'Контакты'
      hr
.container#middle-test-fade
  table(border='4' bordercolor='gray')
    tr
      td(width='40%')
        img(src='images/dgin-apelsin.jpg' id='test-fade').kontakti_pic
      td(width='60%') 
        p#test-fade Контактные телефоны
        p#test-fade (098) 76-08-970
        p#test-fade (097) 78-88-923
        p#test-fade.text Найти нас сможите по адресу: г. Киев, Соломинский район, ул. Шевченка, 2

    
      