doctype
html
  head
    title WebService
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='css/style.css')
    style.
      ul.nav a {
      text-transform: capitalize;
      }
  body
    .container.text
      hr
      ul.nav.nav-pills
          li.text1: a(href=links[0])= 'Клуб'
          li.text1: a(href=links[1])= 'Галерея'
          li.text1: a(href=links[2])= 'События'
          li.text1: a(href=links[3])= 'Меню'
          li.text1: a(href=links[4])= 'Контакты'
      hr
  #quick-test-fade.container
    div.sobitie_div
      table(border='4' bordercolor='gray')
        tr
          td(width='50%')
             p Только в нашем клубе - выставка работ Pin-Up известных художников. Для просмотра коллекции - нажмите на фото
          td(width='50%')
              img(src='images/galereya-3.jpg' id='pin-up').big_image
      table(border='4' bordercolor='gray')
        tr
          td(width='50%')
             p Хорошая музыка - залог приятного вечера. Мы следим за модными течениями и направлениями в музыке, не забывая при этом классику. Специально для Вас, в один вечер, в нашем клубе будут одновременно выступать плеяда именитых Ди-джеев страны и ближнего зарубежья. Для прсмотра списка - нажмите на фото справа
          td(width='50%')
              img(src='images/sobitia_dj.jpg' id='dj_list').big_image
script(src='js/script.js')
     